body {
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
}
.menu {
  display: flex;
  justify-content: space-between;
  padding: 40px 20px;
}
.menu-itens {
  display: flex;
  gap: 30px;
  list-style-type: none;
}
.menu-itens a {
  text-decoration: none;
  padding: 10px 20px;
  color: #000;
  font-size: 1.25rem;
}
.introducao {
  display: grid;
  padding: 40px 20px;
  margin: 0 10rem;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
  position: relative;
}
.introducao::before {
  content: "";
  display: block;
  width: 130px;
  height: 100px;
  background: url(img/detalhe.svg) no-repeat center;
  position: absolute;
  top: 7rem;
  left: 30rem;
  z-index: -1;
}
.introducao img {
  width: 22rem;
}
.introducao .h1 {
  font-size: 2rem;
  margin-top: 3rem;
}
.introducao .p {
  font-size: 1.5rem;
}
.experiencia {
  max-width: 1200px;
  padding: 40px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
}
.subtitulo {
  font-size: 8rem;
  line-height: 1;
  text-transform: uppercase;
  word-break: break-all;
  color: #b4b1b1;
}
.subtitulo- {
  font-size: 8rem;
  line-height: 1;
  text-transform: uppercase;
  word-break: break-all;
  color: #b4b1b1;
  margin-top: 14rem;
}
.experiencia-texto {
  font-size: 1.5rem;
  line-height: 1.33;
  margin-bottom: 4rem;
  max-width: 40ch;
  margin-top: 7rem;
}
.empresa {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: #e5e5e5;
  padding: 20px;
  margin: 20px;
  position: relative;
  margin-left: 0px;
}

.empresa::before {
  content: "";
  display: block;
  height: 20px;
  width: 4px;
  background: linear-gradient(#b6f829, #67dd0a);
  position: absolute;
  top: 20px;
  left: -4px;
}
.empresa-ano- {
  position: absolute;
  top: 23px;
  left: -50px;
  font-size: 0.875rem;
  color: #525252;
}
.empresa-ano {
  position: absolute;
  top: 23px;
  left: -70px;
  font-size: 0.875rem;
  color: #525252;
}
.empresa-titulo {
  margin-top: 0.1rem;
  margin-bottom: -1rem;
  font-size: 1.125rem;
  line-height: 1.1;
  font-weight: bold;
}
.empresa-titulo- {
  margin-left: 2.5rem;
  color: #141414;
  font-weight: bolder;
}
.empresa-texto {
  font-size: 0.975rem;
  line-height: 1.4;
  color: #525252;
}
.empresa-habilidades {
  display: flex;
  list-style: none;
  gap: 10px;
  flex-wrap: wrap;
  align-content: flex-start;
}
.empresa-habilidades li {
  font-size: 0.875rem;
  line-height: 1.4;
  background: #ffffff;
  border-radius: 4px;
  padding: 5px 10px;
}
.formacao {
  padding: 0rem 15rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  background: #141414;
  gap: 100px;
  height: 60rem;
}
.formacao-texto {
  color: #afafaf;
  max-width: 40ch;
  font-size: 1.5rem;
  margin-top: 10rem;
}
.formacao-texto strong {
  color: #ffffff;
}
.subtitulo {
  color: #000;
  margin-top: 15rem;
}
.faculdade {
  list-style: none;
  margin-left: -2rem;
}
.faculdade span {
  color: #525252;
  text-transform: uppercase;
}
.faculdade-0 {
  background: #000;
  width: 13rem;
  color: #ffffff;
  padding: 5px 10px;
  border-radius: 5px;
  position: relative;
  margin-top: 4rem;
}
.faculdade::before {
  content: "";
  width: 5px;
  height: 20px;
  background: linear-gradient(#b6f829, #67dd0a);
  position: absolute;
  left: -4px;
  top: 53px;
}
.faculdade-1 {
  background: #000;
  left: 16rem;
  top: -10.5rem;
  width: 13rem;
  color: #ffffff;
  padding: 15.9px 10px;
  border-radius: 5px;
  position: relative;
}
.faculdade-2 {
  background: #000;
  left: 32rem;
  top: -21.6rem;
  width: 13rem;
  color: #ffffff;
  padding: 6px 10px;
  border-radius: 5px;
  position: relative;
  margin-top: 10px;
}
.faculdade-curso {
  margin-top: 13px;
  margin-bottom: 2rem;
}
.formacao-extra {
  display: grid;
  grid-column: 2 / 2;
  color: #ffffff;
  margin-top: -25rem;
  position: relative;
}
.formacao-extra::after {
  content: "";
  background: url(img/cursos.svg);
  height: 25px;
  width: 24px;
  left: -35px;
  top: 16px;
  position: absolute;
}
.formacao-extra::after {
  content: "";
  background: url(img/cursos.svg);
  height: 25px;
  width: 24px;
  left: -35px;
  top: 16px;
  position: absolute;
}
.cursos li {
  list-style: none;
  margin-left: -2.4rem;
}
.cursos span {
  display: grid;
  justify-content: flex-end;
  color: #525252;
}
.idiomas li {
  list-style: none;
  margin-left: -2.4rem;
}
.idiomas span {
  color: #525252;
}
.idiomas {
  margin-top: -7rem;
}
.idiomas::after {
  content: "";
  background: url(img/idiomas.svg);
  height: 25px;
  width: 24px;
  left: -35px;
  top: 11.5rem;
  position: absolute;
}
.formacao-extra h3 {
  color: #636060;
}
.contato {
  background: #000;
  margin-top: -26px;
  height: 39rem;
}
.contato::before {
  content: "";
  display: block;
  width: 130px;
  height: 100px;
  background: url(img/detalhe.svg) no-repeat center;
  position: absolute;
  top: 161rem;
  left: 4rem;
}
.contato-container {
  padding: 200px 20px 60px 20px;
  margin: 0 6rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 150px;
}
.contato-container p {
  font-size: 1.7rem;
  font-weight: bold;
  line-height: 1.33;
  max-width: 250ch;
  color: #ccc;
}
.contato-container span {
  font-size: 2rem;
  font-weight: bold;
  line-height: 2.2;
  color: #ffffff;
}
footer {
  color: #525252;
  font-size: 1.3rem;
}